h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font weight : 700;
}
h1{
    font-size: 96px;
}

p{
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
 
.hero{
    background-color: #ffbdd8;
    text-align: center;
}

.hero p{

    font-size: 36px;
    font-weight: bold;
    margin:0;
}
.hero h2{
 font-family: "Poppins", sans-serif;
 font-weight: normal;
 line-height: 2;
 font-size: 24px;
}