:root{
    --branding-color:#e675c9;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}

body{
    font-family: var(--default-font-family);
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: var(--heading-font-family);
  font weight : 700;
}
h1{
    font-size: 96px;
}

p{
   font-family: var(--default-font-family);
  font-weight: 500;
  font-style: normal;
}
 
.hero{
    background-color: #fceaf2;
    text-align: center;
    padding: 105px 20px;
}

.hero p{

    font-size: 36px;
    font-weight: bold;
    margin:0;
    color: #272142;
}
.hero h2{
 font-family: "Poppins", sans-serif;
 font-weight: normal;
 line-height: 2;
 font-size: 24px;
}


.btn-branding{
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
}